
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
  background-color:black;
}


h1{
  width: 40%;
  height: 100px;
  color:black;
  text-align:center;
  background-color:#f800a8;
  margin:auto auto;
  line-height:100px;
  margin-top:50px;
  font-family: 'Roboto Mono', monospace;
  border:15px solid yellow;
}


